@import './certificado/block.scss';

.femai-qualidade {

    padding: 3rem 0;
    .container {
        .title h2 {
            font-weight: 600;
            color: var(--bs-primary);
            margin-bottom: 2rem;
        }
    }
}