.femai-certificado {

    .image img {
        width: 125px;
        // max-width: 100%;
        object-fit: contain;
    }
    
    .content {
        .title h4 {
            font-weight: 600;
        }
    }
}